<header>
  <div class="navbar-line black"></div>
  <div class="navbar black-color">
    <div class="logo">
          <%= link_to root_path do %>
          Daphné Visuals
          <% end %>
    </div>
    <div class="navbar-wrapper">
      <ul>
        <li>
          <%= link_to webdesign_path, class:"link link-nav" do %>
            Developpement Web | UI/UX Design
          <% end %>
        </li>
        <li>
          <%= link_to photography_path, class:"link link-nav" do %>
            Photographie
          <% end %>
        </li>
      </ul>
      <ul class="navbar-right">
        <li>
          <%= link_to about_path, class:"link link-nav" do %>
            A propos & Contact
          <% end %>
        </li>
      </ul>
    </div>
    <div class="burger" data-controller="burger">
      <div data-action="click->burger#menu" data-burger-target="burgerAnimation"  class="burger-button">
        <div data-burger-target="burgerAnimation" class="burger-line"></div>
      </div>
      <div class="d-none" data-burger-target="toggleMenu">
        <div class="burger-menu">
          <ul>
            <li>
              <%= link_to webdesign_path, class:"link link-nav" do %>
                Developpement Web | UI/UX Design
              <% end %>
            </li>
            <li>
              <%= link_to photography_path, class:"link link-nav" do %>
                Photographie
              <% end %>
            </li>
            <li>
              <%= link_to about_path, class:"link link-nav" do %>
                A propos & Contact
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
