<div class="menu" data-controller="menu">
  <nav class="menu-nav">
    <ul id="gallery-links">
      <!-- ITEM 01 -->
      <li>
        <div class="gallery-link" data-category="clubbing">
          <span>Clubbing & Festivals,</span>
          <div class="hover-reveal image01">
            <%= cl_image_tag("Photography/menu/menu-nightclub_bc3esm", class: "hidden-img", loading: "lazy") %>
          </div>
        </div>
      </li>

      <!-- ITEM 02 -->
      <li>
        <div class="gallery-link" data-category="mariage">
          <span>Mariages,</span>
          <div class="hover-reveal image02">
            <%= cl_image_tag("Photography/menu/menu-mariage_qevrbs", class: "hidden-img", loading: "lazy") %>
          </div>
        </div>
      </li>

      <!-- ITEM 03 -->
      <li>
        <div class="gallery-link" data-category="portrait">
          <span>Portraits,</span>
          <div class="hover-reveal image03">
            <%= cl_image_tag("Photography/menu/menu-portraits_aibovw", class: "hidden-img", loading: "lazy") %>
          </div>
        </div>
      </li>

      <!-- ITEM 04 -->
      <li>
        <div class="gallery-link" data-category="street">
          <span>Street & Landscapes,</span>
          <div class="hover-reveal image04">
            <%= cl_image_tag("Photography/menu/menu-street_otjqrc", class: "hidden-img", loading: "lazy") %>
          </div>
        </div>
      </li>

      <!-- ITEM 05 -->
      <li>
        <div class="gallery-link" data-category="animaux">
          <span>Animaux</span>
          <div class="hover-reveal image04">
            <%= cl_image_tag("Photography/menu/menu-animaux_omgj1y", class: "hidden-img", loading: "lazy") %>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</div>

<section class="content-wrap d-none" data-controller="section-content">
  <div class="content-nav">
    <%= render "shared/navbar_white" %>
  </div>
  <div class="content-container">
    <div class="content-caroussel">
      <div class="carousel d-none" data-category="clubbing">
        Clubbing
      </div>
      <div class="carousel d-none" data-category="mariage">
        Mariage
      </div>
      <div class="carousel d-none" data-category="portrait">
        portrait
      </div>
      <div class="carousel d-none" data-category="street">
        Street
      </div>
       <div class="carousel d-none" data-category="animaux">
        Animaux
      </div>
    </div>
    <div class="content-menu">
      <ul class="content-menu__wrapper">
        <li class="content-menu__link" data-category="clubbing">
          Clubbing & Festivals
        </li>
        <li class="content-menu__link" data-category="mariage">Mariages</li>
        <li class="content-menu__link" data-category="portrait">
          Portraits
        </li>
        <li class="content-menu__link" data-category="street">
          Street & Landscapes
        </li>
        <li class="content-menu__link" data-category="animaux">Animaux</li>
      </ul>
    </div>
  </div>
</section>
<%# displaying images from a specific folder go see controller %>
<%# <% @images_clubbing['resources'].each do |image| %>
  <%# <div class="image"> %>
    <%# <%= cl_image_tag(image['public_id']) %>
  <%# </div> %>
<%# <% end %>
