<div class="menu" data-controller="menu">
  <nav class="menu-nav">
    <ul id="gallery-links">
      <!-- ITEM 01 -->
      <li>
        <div class="gallery-link" data-category="clubbing">
          <span>Clubbing & Festivals,</span>
          <div class="hover-reveal image01">
            <%= cl_image_tag("Photography/menu/menu-nightclub_bc3esm", class: "hidden-img", loading: "lazy") %>
          </div>
        </div>
      </li>

      <!-- ITEM 02 -->
      <li>
        <div class="gallery-link" data-category="mariage">
          <span>Mariages,</span>
          <div class="hover-reveal image02">
            <%= cl_image_tag("Photography/menu/menu-mariage_qevrbs", class: "hidden-img", loading: "lazy") %>
          </div>
        </div>
      </li>

      <!-- ITEM 03 -->
      <li>
        <div class="gallery-link" data-category="portrait">
          <span>Portraits,</span>
          <div class="hover-reveal image03">
            <%= cl_image_tag("Photography/menu/menu-portraits_aibovw", class: "hidden-img", loading: "lazy") %>
          </div>
        </div>
      </li>

      <!-- ITEM 04 -->
      <li>
        <div class="gallery-link" data-category="street">
          <span>Street & Landscapes,</span>
          <div class="hover-reveal image04">
            <%= cl_image_tag("Photography/menu/menu-street_otjqrc", class: "hidden-img", loading: "lazy") %>
          </div>
        </div>
      </li>

      <!-- ITEM 05 -->
      <li>
        <div class="gallery-link" data-category="animaux">
          <span>Animaux</span>
          <div class="hover-reveal image04">
            <%= cl_image_tag("Photography/menu/menu-animaux_omgj1y", class: "hidden-img", loading: "lazy") %>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</div>
<%# displaying images from a specific folder go see controller %>
<%# <% @images_clubbing['resources'].each do |image| %>
  <%# <div class="image"> %>
    <%# <%= cl_image_tag(image['public_id']) %>
  <%# </div> %>
<%# <% end %>
