<div class="menu" data-controller="menu">
  <nav class="menu-nav">
    <ul id="gallery-links">
      <!-- ITEM 01 -->
      <li>
        <div class="gallery-link" data-category="clubbing">
          <span>Clubbing & Festivals,</span>
          <div class="hover-reveal image01">
            <%= cl_image_tag("Photography/menu/menu-nightclub_bc3esm", class: "hidden-img", loading: "lazy") %>
          </div>
        </div>
      </li>

      <!-- ITEM 02 -->
      <li>
        <div class="gallery-link" data-category="mariage">
          <span>Mariages,</span>
          <div class="hover-reveal image02">
            <%= cl_image_tag("Photography/menu/menu-mariage_qevrbs", class: "hidden-img", loading: "lazy") %>
          </div>
        </div>
      </li>

      <!-- ITEM 03 -->
      <li>
        <div class="gallery-link" data-category="portrait">
          <span>Portraits,</span>
          <div class="hover-reveal image03">
            <%= cl_image_tag("Photography/menu/menu-portraits_aibovw", class: "hidden-img", loading: "lazy") %>
          </div>
        </div>
      </li>

      <!-- ITEM 04 -->
      <li>
        <div class="gallery-link" data-category="street">
          <span>Street & Landscapes,</span>
          <div class="hover-reveal image04">
            <%= cl_image_tag("Photography/menu/menu-street_otjqrc", class: "hidden-img", loading: "lazy") %>
          </div>
        </div>
      </li>

      <!-- ITEM 05 -->
      <li>
        <div class="gallery-link" data-category="animaux">
          <span>Animaux</span>
          <div class="hover-reveal image04">
            <%= cl_image_tag("Photography/menu/menu-animaux_omgj1y", class: "hidden-img", loading: "lazy") %>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</div>

<section class="content-wrap d-none" data-controller="section-content">
  <div class="content-nav">
    <%= render "shared/navbar_white" %>
  </div>
  <div class="content-container">
    <div class="content-caroussel" data-controller="swiper">
      <div class="carousel d-none" data-category="clubbing">
        Clubbing
      </div>
      <div class="carousel d-none" data-category="mariage">
        <swiper-container init="false"  navigation="true" effect="crossFade" loading="lazy"
                          observer="true" parallax="true" observe-parents="true" loop="true" slides-per-view="1"
                            >
            <% @images_mariages['resources'].each do |image| %>
              <swiper-slide>
                <div class="swiper-slide-img">
                  <%= cl_image_tag(image['public_id'], loading: "lazy") %>
                </div>
              </swiper-slide>
            <% end %>
        </swiper-container>
        <script type="module">
          import { register } from 'swiper/element/bundle';

          register();

          const swiperEl = document.querySelector('swiper-container');
            const swiperParams = {
            observer: true,
            observeParents: true,
            parallax: true,
            loop: true,
            direction: "horizontal",
            slidesPerView: 1,
            effect: "fade",
            lazy: true,
            loop: true,
            speed: 1500,
            on: {
              init() {
                // ...
              },
            },
          };

          // now we need to assign all parameters to Swiper element
          Object.assign(swiperEl, swiperParams);


          const params = {
            // array with CSS styles
            injectStyles: [
              `
              .swiper {
                width: 50vw;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden !important;
              }
              .swiper-wrapper {
                display: flex;
                align-items: center;
                align-content: center;
                overflow: visible;
              }

              .swiper-slide {
                display: flex;
                justify-content: center;
                align-items: center;
                max-height: 70vh;
              }
              .swiper-button-prev,
              .swiper-button-next {
                width: 50% !important;
                height: 100% !important;
                top: 0 !important;
                margin: 0 !important;
                transition: cursor 0.3s !important;

                &::after {
                  display: none !important;
                }
              }
              .swiper-button-prev svg,
              .swiper-button-next svg {
                display: none;
              }

              .swiper-button-prev {
                left: 0 !important;
                cursor: w-resize !important;
              }

              .swiper-button-next {
                right: 0 !important;
                cursor: e-resize !important;
              }

              .swiper-slide-img {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .swiper-slide-img img {
              display: block !important;
              width: max-content !important;
              max-height: 70vh !important;
              object-fit: cover !important;
              justify-content: center !important;
              align-items: center !important;
            }
              `,
            ],

            // array with CSS urls
            // injectStylesUrls: ['path/to/one.css', 'path/to/two.css'],
          };

          Object.assign(swiperEl, params);

          swiperEl.initialize();
        </script>
      </div>
      <div class="carousel d-none" data-category="portrait">
        portrait
      </div>
      <div class="carousel d-none" data-category="street">
        Street
      </div>
       <div class="carousel d-none" data-category="animaux">
        Animaux
      </div>
    </div>
    <div class="content-menu">
      <ul class="content-menu__wrapper">
        <li class="content-menu__link" data-category="clubbing">
          Clubbing & Festivals
        </li>
        <li class="content-menu__link" data-category="mariage">Mariages</li>
        <li class="content-menu__link" data-category="portrait">
          Portraits
        </li>
        <li class="content-menu__link" data-category="street">
          Street & Landscapes
        </li>
        <li class="content-menu__link" data-category="animaux">Animaux</li>
      </ul>
    </div>
  </div>
</section>
<%# displaying images from a specific folder go see controller %>
