<div class="menu" data-controller="menu">
  <nav class="menu-nav">
    <ul id="gallery-links">
      <!-- ITEM 01 -->
      <li>
        <div class="gallery-link" data-category="farmland">
          <span>Farmland,</span>
          <div class="hover-reveal image01">
            <%= cl_image_tag("Photography/menu/menu-nightclub_bc3esm", class: "hidden-img", loading: "lazy") %>
          </div>
        </div>
      </li>

      <!-- ITEM 02 -->
      <li>
        <div class="gallery-link" data-category="noway">
          <span>No Way,</span>
          <div class="hover-reveal image02">
            <%= cl_image_tag("Photography/menu/menu-mariage_qevrbs", class: "hidden-img", loading: "lazy") %>
          </div>
        </div>
      </li>

      <!-- ITEM 03 -->
      <li>
        <div class="gallery-link" data-category="mutomuto">
          <span>MutoMuto,</span>
          <div class="hover-reveal image03">
            <%= cl_image_tag("Photography/menu/menu-portraits_aibovw", class: "hidden-img", loading: "lazy") %>
          </div>
        </div>
      </li>

      <!-- ITEM 04 -->
      <li>
        <div class="gallery-link" data-category="pikpik">
          <span>PikPik</span>
          <div class="hover-reveal image04">
            <%= cl_image_tag("Photography/menu/menu-street_otjqrc", class: "hidden-img", loading: "lazy") %>
          </div>
        </div>
      </li>

    </ul>
  </nav>
</div>

<section id="projects" class="content-wrap projects d-none" data-controller="section-content">
  <div class="content-nav">
    <%= render "shared/navbar_white" %>
  </div>
  <div class="content-container projects">
    <div class="content-caroussel projects" data-controller="projects">

      <div class="carousel projects d-none" data-category="farmland">
        <div class="project-cover">
          <%= cl_image_tag("web-projects/pikpik/jkspitmawtm7nwpthekw", width: 1200, height: 800, crop: :fill) %>

        </div>
        <h3>PikPik Hotsauce – Branding, UI/UX, Front-End</h3>
        <div class="project-details">Après un grand succès des sauces cultes accompagnant les plats de "la Pinte de Condor" à Lausanne, Marie et Chen lancent leur nouvelle aven- ture culinaire avec la marque Pik-Pik. Se voulant artisanale, locale et totale- ment décalée, Pik-Pik se réinvente par ses nouvelles recettes faites maison qui éveillent les papilles et relèvent vos plats par son pep's !</div>
          <div class="project-details">Tâches :
            <ul>
              <li>réaliser les étiquettes des trois sauce (logo fourni)</li>
              <li>designer et coder (front) la page vitrine du site web (produits)</li>
              <li>produire une vidéo promotionnelle pour les sauces piquantes</li>
            </ul>
          </div>
        <div class="project-details">Project details here</div>
      </div>

      <div class="carousel projects d-none" data-category="noway">
      No Way content
      </div>

      <div class="carousel projects d-none" data-category="mutomuto">
        Mutomuto content
      </div>

      <div class="carousel projects d-none" data-category="pikpik">
       Pikpik content
      </div>

    </div>
    <div class="content-menu projects">
      <ul class="content-menu__wrapper">
        <li class="content-menu__link" data-category="farmland">
          Farmland
        </li>
        <li class="content-menu__link" data-category="noway">No Way</li>
        <li class="content-menu__link" data-category="mutomuto">
          MutoMuto
        </li>
        <li class="content-menu__link" data-category="pikpik">
          PikPik
        </li>

      </ul>
    </div>
  </div>
</section>
<%# displaying images from a specific folder go see controller %>
