<!DOCTYPE html>
<html>
  <head>
    <title>RailsPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body class="homepage-bg">

    <header>
      <div class="home-navbar-line"></div>
      <div class="home-navbar">
        <div class="logo">
              <%= link_to root_path do %>
              Daphné Visuals
              <% end %>
        </div>
        <div class="navbar-wrapper">
          <ul>
            <li>
              <a class="link link-nav" href="">
                Développement web | Webdesign</a
              >
            </li>
            <li>
              <%= link_to photography_path, class:"link link-nav" do %>
              Photographie
              <% end %>
            </li>
          </ul>
          <ul class="navbar-right">
            <li><a class="link link-nav" href="">Info</a></li>
            <li><a class="link link-nav" href="">Contact</a></li>
          </ul>
        </div>
      </div>
    </header>
    <%= yield %>
    <% if request.fullpath == root_path && !session[:preloader_played] %>
        <%= render "shared/preloader" %>
        <% session[:preloader_played] = true %>

    <% end %>

  </body>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</html>
