<!DOCTYPE html>
<html>
  <head>
    <title>RailsPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body class="homepage-bg">

    <%= render "shared/navbar_black" %>
    <div class="yielded-content">
      <%= yield %>
    </div>
    <% if request.fullpath == root_path && !session[:preloader_played] %>
        <%= render "shared/preloader" %>
        <% session[:preloader_played] = true %>

    <% end %>

  </body>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</html>
